@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	position:relative;
	background-image : url('../images/welcomePageImage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.button-container {
	position:relative;
    text-align: center; 
    margin-top: 22%; 
}

.button-container button {
	font-family: "Poppins", sans-serif;
    background-color: transparent;
    color: white;
    font-size: 50px;
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    left: -300px;
}

.button-container button:hover {
    background-color: white;
    color: black;
}

